@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;

}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/75b0ed49-75ab-4a63-bd45-37bc2c95cb73/web/IN-en-20250623-TRIFECTA-perspective_ae5833b7-6ce5-4e88-853e-014f38c506f1_large.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.box {
    background-color: black;
    height: 644px;
    opacity: 0.69;
    width: 100%;
    position: absolute;
    top: 0;

}

.nav {
    font-weight: 700;
    font-style: normal;
    max-width: 70vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100px;
}

.img {
    width: 190px;
}
.btn-distance{
    display: flex;
    gap :8px;
}
.btn {
    border-radius: 6px;
    padding: 8px 18px;
    background-color: #111415;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.red-btn {
    border-radius: 6px;
    padding: 8px 18px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;

    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;

    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 24px;

    font-weight: 400;
    text-align: center;
}

.hero-btn {
    /* background-color: #0f0f0f; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.2);
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 14px;
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
}

.seprator {
    height: 7px;
    background-color: rgb(46, 44, 44);
    width: 100%;
    position: relative;
    z-index: 20;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    
}

.first div>:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first div>:nth-child(2) {
    font-size: 24px;
    font-weight: 200px;
}

.secImg {
    position: relative;
}

.secImg img {
    position: relative;
    width: 555px;
    z-index: 1;
}

.secImg video {
    position: absolute;
    width: 455px;
    top: 58px;
    right: 51px;
}

.faq h1 {
    color: white;
    text-align: center;
    font-size: 48px;
}


/* if do not want to change svg */
/* .faqbox svg {
    filter: invert(1);
} */

.faqQuestions {
    transition: all 1s ease-out;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    max-width: 60vw;
    padding: 24px;
    font-size: 24px;
    margin: 34px auto;
    cursor: pointer;
}

.faqQuestions:hover {
    background-color: #414141;
    color: white;
}

.footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

.foot {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 34px;
    text-align: left;
    max-width: 60vw;
    margin: auto;           
}

a {
    color: white;
    cursor: pointer;
}

.items {
    padding: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 22px;
}

.footer-items {
    display: grid;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width :1300px) {
    .nav{
        max-width: 90vw;
    }
    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .hero-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .first {
        flex-wrap: wrap;
        padding: 34px;
    }
    .secImg img {
        width: 355px;
    }

    .secImg video {
        width: 255px;    
    }

    .faq h1{
        font-size: 32px;
        text-align: center;
        padding-top: 34px;
    }
    .items {
        padding: 23px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
    }
    .footer{
        max-width: 90vw;
        padding: 75px 0;
    }
    .footer-items{
        text-align: center;
    }
    

}